{% extends './base.html' %}
{% block main %}
<nav class="nav-main menu menu-izquierda shadow">
    <ul>
        <li><a href="{{ url_for('about') }}">Manual</a></li>
        <li class="active"><a href="{{ url_for('change_password') }}">Cambiar Contraseña</a></li>
        <li><a href="{{ url_for('contact') }}">Contacto</a></li>
    </ul>
</nav>
<section class="contenedor margen-superior">
  <article class="card" style="width: 60%; margin: auto;">
    <!-- Left: Login -->
    <div class ="change_form">
      <div style="display:flex; border-bottom:1px solid #e4e4e4; margin-bottom:20px;">
        <a href="#" name="login" style="padding:15px 25px; border-bottom:3px solid var(--color-primario); font-weight:600; color:var(--color-primario); text-decoration: none;">Cambiar Contraseña</a>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes card alert">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form action="{{ url_for('update_password') }}" method="POST">
        <label for="name">Nombre</label>
        <input id="name" name="name" type="text" class="input" placeholder="Nombre" readonly value="{{user_session_result.0}}">

        <label for="email">Correo electrónico</label>
        <input id="email" name="email" type="email" class="input" placeholder="Correo electrónico" readonly value="{{user_session_result.1}}">

        <label for="password_reg">Contraseña anterior</label>
        <input id="password_reg" name="password_old" type="password" class="input" placeholder="Contraseña" required>

        <label for="password_new">Contraseña nueva</label>
        <input id="password_new" name="password_new" type="password" class="input" placeholder="Contraseña" required>

        <label for="password_confirm">Confirmar contraseña</label>
        <input id="password_confirm" name="password_confirm" type="password" class="input" placeholder="Confirmar contraseña" required>

        <button type="submit" class="boton oscuro">Cambiar Contraseña</button>
      </form>
    </div>

  </article>
</section>

{% endblock %}
