<!DOCTYPE html>
<html>
<head>
    <title>My First Flask Webpage</title>
    <!--<title>{% block title %}{% endblock %}</title>-->
    <link rel="stylesheet" href="static/css/framework.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    {% block customCSS %}{% endblock %}
</head>
<body>
    <header class="header-top">
        <h1>Welcome to my Flask webpages!</h1>
    </header>
    <nav class="nav-top"></nav>
    {% block main %}{% endblock %}
    <footer class="footer-bottom"></footer>
</body>
</html>
