{% extends './base.html' %}
{% block main %}
<nav class="nav-main menu menu-izquierda">
    <ul>
        <li><a href="{{url_for('form')}}">Registro</a></li>
        <li><a href="{{url_for('manage_movements')}}">Visualizar</a></li>
        <li><a href="{{url_for('movements_analysis')}}" class="active">Analisis</a></li>
    </ul>
</nav>
<section class="contenedor">
    <form action="/movements_analysis_filter" method="POST" class="card filter-form margen-inferior">
        <div class="margen-derecha">
            <label for="concepto" style="font-weight: bold;">CONCEPTO</label>
            <select name="concepto" class="input">
                <option name="selected_year" value="TODOS">TODOS</option>
                {% for movement_concept in movements_concept_list_query_results%}
                    <option name="selected_movement_concept" value="{{ movement_concept.0 }}">{{ movement_concept.0 }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="tipoAbono" style="font-weight: bold;">TIPO</label>
            <select name="tipoAbono" class="input">
                <option name="selected_year" value="TODOS">TODOS</option>
                <option name="tipoAbonoTarjeta" value="T">TARJETA</option>
                <option name="tipoAbonoEfectivo" value="E">EFECTIVO</option>
            </select>
        </div>
        <div class="margen-derecha">
            <label for="año" style="font-weight: bold;">AÑO</label>
            <select name="año" class="input">
                {% for year in existing_movement_years_list_query_results%}
                    <option name="selected_year" value="{{ year.0 }}">{{ year.0 }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="boton" type="submit">Filtrar</button>
    </form>
    <article class="card">
        <img src="data:image/png;base64,{{ image_base64 }}" alt="Gráfico">
    </article>
</section>

<!-- <script>
document.addEventListener('DOMContentLoaded', () => {
  const form = document.querySelector('form[action="/manage_expenses_filter"]');

  const tipoSelect = form.querySelector('select[name="tipo"]');
  const periodicidadSelect = form.querySelector('select[name="periodicidad"]');
  const anioDiv = form.querySelector('select[name="año"]').closest('div');
  const periodicidadDiv = periodicidadSelect.closest('div');
  const mesDiv = form.querySelector('select[name="mes"]').closest('div');

  const handleChange = () => {
    const tipo = tipoSelect.value;
    const periodicidad = periodicidadSelect.value;

    // Mostrar todo por defecto
    anioDiv.style.display = '';
    periodicidadDiv.style.display = '';
    mesDiv.style.display = '';

    // Reglas
    if (tipo === 'P') {
      anioDiv.style.display = 'none'; // ocultar año
      if (periodicidad === 'M') {
        mesDiv.style.display = 'none'; // ocultar mes si periodicidad = M
      }
    } else if (tipo === 'E') {
      periodicidadDiv.style.display = 'none'; // ocultar periodicidad
    }
  };

  // Ejecutar al cargar
  handleChange();

  // Escuchar cambios
  tipoSelect.addEventListener('change', handleChange);
  periodicidadSelect.addEventListener('change', handleChange);
});
</script> -->
{% endblock %}

