/* ==================
    * VARIABLES *
================== */
:root{
    --header-hight: 100px;
    --dinamic-100-width: 100dvw;
}

/* ==================
    * HEADER *
================== */
.top-header{
    height:         var(--header-hight);
    width:          var(--dinamic-100-width);
    background:     #000;
    position:       sticky;
    
    & .top-title{
        height:             var(--header-hight);
        display:            flex;
        flex-direction:     column;
        justify-content:    space-around;
        color:              #fff;
        padding-left:       30px;
    }

    & .top-nav{
        height:         var(--header-hight);
        position:       absolute;
        top:            0;
        width:          var(--dinamic-100-width);
        background:     none;
        align-items:    center;
    }    
}
