{% extends './base.html' %}
{% block main %}
<nav class="nav-main menu menu-izquierda">
    <ul>
        <li><a class="active" href="{{url_for('periodic_expenses')}}">Gastos periodicos</a></li>
        <li><a href="{{url_for('extra_expenses')}}">Gastos Extra</a></li>
        <li><a href="{{url_for('manage_expenses')}}">Registro</a></li>
    </ul>
</nav>
<section class="contenedor">
    <form action="/periodic_expenses" method="POST" class="card filter-form margen-inferior">
        <div class="margen-derecha">
            <label for="concepto" style="font-weight: bold;">CONCEPTO</label>
            <select name="concepto" class="input">
                {% for expense_concept in expenses_concepts_list_query_results%}
                    <option name="selected_expense_concept" value="{{ expense_concept.0 }}">{{ expense_concept.0 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="margen-derecha">
            <label for="periodicidad" style="font-weight: bold;">PERIODICIDAD</label>
            <select name="periodicidad" class="input">
                {% for periodicty in periodicity_list_query_results%}
                    <option name="selected_periodicity" value="{{ periodicty.0 }}">{{ periodicty.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="margen-derecha">
            <label for="mes" style="font-weight: bold;">MES</label>
            <select name="mes" class="input">
                {% for month in months_list_query_results%}
                    <option name="selected_month" value="{{ month.0 }}">{{ month.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="boton" type="submit">Filtrar</button>
    </form>
    <div class="contenedor">
        <a style="font-weight: bold;">ULTIMO FILTRO: </a>{{Filtrered_data}}
    </div>
    <table class="card tabla" id="tabla">
        <thead class="tabla-encabezado-fijo">
            <tr>
                <th class="texto-centrado">CONCEPTO</td>
                <th class="texto-centrado">PERIODICIDAD</td>
                <th class="texto-centrado">CANTIDAD</td>       
            </tr>
        </thead>
        <tbody class="tabla_con_encabezado">
        {% for extracted_data in readed_query_executed_results %}
            <tr>
                <td style="font-weight:bold; text-transform: uppercase; color: var(--color-primario)">{{ extracted_data.1 }}</td>
                <td class="texto-centrado" style="font-weight:bold; color: var(--color-primario)">{{ extracted_data.2 }}</td>
                <td class="texto-centrado" style="font-weight:bold; text-transform: uppercase; color: var(--color-primario)">{{ extracted_data.3 }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

